.banner-contact {
  background-image: url("../images/home-banner-1.jpg");
  height: 320px;
}

.section-contact {
  .address {
    &-title{
      color: $codespa-orange;
      font-size: 18px;
    }
  }

  .map-contact {
    height: 300px;
    width: 100%;
    z-index: 1;
  }

  .contact-inline {
    .ginput_container{
      @extend .row;

      span {
        @extend .col-xs-12;
        @extend .col-sm-6;

        @media (max-width: $screen-xs-max) {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        label {
          display: none;
        }
      }
    }
  }
}
