.footer-main {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-top: 10px solid $codespa-blue;

  margin-top: 40px;
  padding-bottom: 30px;
  min-height: 650px;

  @media (min-width: $screen-sm-min) {
    min-height: 500px;
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .gradient-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    @include gradient-vertical(rgba(190,125,42, .4), rgba(190,125,42, 0), 0%, 100%);
  }

  .gradient-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
    @include gradient-vertical(rgba(190,125,42, .4), rgba(190,125,42, 1), 0%, 100%);

    @media (min-width: $screen-sm-min) {
      height: 30%;
    }
  }
  .gradient-bottom2 {
    position: absolute;
    right: 0;
    bottom: 50%;
    left: 0;
    height: 20%;
    @include gradient-vertical(rgba(190,125,42,0), rgba(190,125,42, .4), 0%, 100%);

    @media (min-width: $screen-sm-min) {
      bottom: 30%;
      height: 20%;
    }
  }

  .footer-join {

    h2, p {
      color: #fff;
    }

    @media (max-width: $screen-xs-max) {
      margin-bottom: 60px;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 40px;
    }

    .btn-facebook-join {
      background-color: #243f78;
    }
    .btn-linkedin-join {
      background-color: #0077b5;
    }
    .form-control {
      background-color: rgba(255,255,255, 0.8);
    }

    .gfield_label {
      display:none;
    }

    .gform_confirmation_wrapper {
      @extend .alert-success;
      @extend .alert;
    }

    .validation_message {
      @extend .alert-danger;
      @extend .alert;
      padding: 5px;
      font-size: 11px;
    }

     .footer-form-name label {
      display: none;
    }
  }

  section.footer-pad {
    min-height: 100px;
  }

  .footer-contact {
    color: #fff;

    h2,
    a,
    a:hover {
      color: #fff;
    }
  }

  .footer-contact {

    @media (min-width: $screen-sm-min) {
      padding-top: 60px;
    }

    .footer-socials {
      font-size: 150%;

      a {
        color: #fff;
        margin-right: 5px;

        &:hover {
          color: $codespa-blue;
        }
      }
    }
  }
}

.footer-attribution {
  font-size: $font-size-base * 0.8;
  padding-top: 40px;
  color: #fff;

  a,
  a:hover {
    color: #fff;
  }


  .footer-nav {

    @media (min-width: $screen-sm-min) {
      float: right !important;
    }

    ul {
      padding-left: 0;
      list-style: none;
      margin-left: -5px;

      li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
