// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$screen-lg-min:         10000px;

// Colors
$brand-primary:         #ef7b00; // rgb: 239, 123, 0
$codespa-orange:				$brand-primary;
$codespa-blue:          #024e8f; // rgb: 2, 78, 143
$codespa-brown:           #be7d2a; // rgb: 190, 125, 42
$codespa-green:         #489137; // rgb: 72, 145, 55

// typography
$font-family-sans-serif: 'Gothic Rounded A', "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font-size-base:        16px;
$headings-font-weight:  700;

// navbar
$navbar-inverse-color:                      #fff !default;
$navbar-inverse-bg:                         transparent !default;
// $navbar-inverse-bg:                         $codespa-orange !default;
// $navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #fff !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
// $navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             transparent !default;
// $navbar-inverse-link-disabled-color:        #444 !default;
// $navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
// $navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
// $navbar-inverse-brand-hover-color:          #fff !default;
// $navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            darken($codespa-orange,5%) !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        darken($codespa-orange,10%) !default;


// Slick fonts & image load path fix
$slick-font-path: "../fonts/" !default;
