.banner-our-work {
  background-image: url("../images/home-banner-1.jpg");
  height: 320px;
}

.section-header-development {
  background-image: url("../images/section-banner4.jpg");
}

.section-header-consultancy {
  background-image: url("../images/section-banner3.jpg");
}
